<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="info.bunny178.novel.reader">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:fullBackupContent="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bunny178">

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".BrowseActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".DetailActivity"
                />
        <activity
                android:name=".ViewerActivity"
                />
        <activity
                android:name=".SingleFragmentActivity"
                />
        <activity
                android:name=".AboutActivity"
                android:label="@string/about"
                />
        <service
                android:name=".service.DownloadService"
                android:exported="false"
                />
        <!-- Providers -->
        <provider
                android:name=".db.NovelDataProvider"
                android:authorities="info.bunny178.novel.reader"
                android:enabled="true"
                android:exported="false"
                />
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="20f1d76d72b90387ccae29e481a3c466bb0cb1aa"/>

        <!--Include the AdActivity configChanges and theme. -->
        <activity
                android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:theme="@android:style/Theme.Translucent"
                />
    </application>

</manifest>
